.header{

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 10%;

  background:white;
  box-shadow:$shadow-soft;

  .logo a{
    font-weight:600;
    color:$primary-color;
    font-size:1.2rem;
  }

  .nav-list{

    display:flex;
    gap:25px;
    list-style:none;

    a{
      color:$text-color;
      font-size:0.95rem;
      transition:.3s;

      &:hover{
        color:$primary-color;
      }
    }
  }

  @include mobile{
    flex-direction:column;
    gap:15px;
  }
}