.btn-primary{

  display:inline-block;

  background:$primary-color;
  color:white;

  padding:12px 22px;

  border-radius:30px;

  margin-top:20px;

  transition:.3s;

  &:hover{
    background:$accent-color;
  }

}